

<h2>Book</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <% @book.each do |book| %>
      <th>
        <%= users_path(params[:id])%>
      </th>
      <% end %>
    </tr>
  </tbody>
</table>